@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}

a{
    text-decoration: none;
}

body, html {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #fff;
}
body{
    display: block;
    margin: 8px;
}

.btn{
    background-color: #bfec54;
    color: white;
    font-size: 13px;
    font-weight: 700px;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-height: 48px;
    min-height: 48px;
    padding: 12px 40px;
    border: 2px #78ff3e;
    border-radius: 50px;
    transition: all .35s ease;
}

button{
    cursor: pointer;
}

.btn:hover{
    background-color: #ff3eb8;
}
h1{
    font-size: 48px;
    padding: 24px 0;
    text-align: center;
}

li{
    list-style-type: none;
}

.black{
    color: #ff3eb8;
}
.blue{
    color: rgb(143, 6, 6);
}
.purple{
    color: #78ff3e;
}

/* HOME */
#Home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*NAV*/
nav{
    background-color: #f77bc9;
    padding: 16px 0 24px 0;
}
.nav__bar{
    height: 165px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.nav{
    justify-content: space-between;
    max-width: 1200px;
}
.content-wrapper{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.nav__logo{
    align-items: start;
    height: 200px;
}

.nav__links{
    display: flex;
    width: 100%;
    max-width: 430px;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
}

.nav__link{
    font-size: 18px;
    font-weight: 600;
}

/*Landing Page*/
#landing-page{
    max-width: 100vw;
    overflow: hidden;
    padding: 10px 20px 0 20px;
    max-height: calc(100vh-265px);
    display:flex;
    flex: 1;
    background-color: #bfec54;
}

.landing{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.title__row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 730px;
}

.input-wrapper{
    width:100%;
    max-width: 600px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

input{
    color: #ff3eb8;
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding: 0 15px;
    border-style: none;
    outline: none;
    z-index: 1;
}

.magnifying-glass-solid-full{
    background-color: #fff;
    height:60px;
    width:60px;
    padding:16px;
    cursor: pointer;
}

.magnifying-glass-solid-full:hover{
    background-color: #ff3eb8;
}
.the-band{
    border-color: #ff3eb8;
    border-width: 4px;
    border-style: dotted;
}

@media (max-height: 1200px) {
    .nav__bar{ height: 150px;}
    .nav__logo{height: 150px;}
    #landing-page{max-height: none;}
}

@media (max-height: 650px){
    .nav__logo{padding-left: 90px;}
    .nav__links{display:none;}
    h1{font-size: 20px;}
}
